

/* #root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Default dotted background */
.bg-dot-12-s-2-neutral-700 {
  background-color: #393333; /* Neutral color */
  background-image: radial-gradient(#6b7280 1px, transparent 1px);
  background-size:48px 48px;
}

/* Dark dotted background */
.bg-dot-dark {
  background-color: #ffffff; /* Dark background color */
  background-image: radial-gradient(#000000 1px, transparent 1px);
  background-size:48px 48px;
}

.bg-card {
  background-color: #69D2E7;
}

.bg-dark-card{
  background-color: #006174;
}

.animated-border {
  box-sizing: border-box;
  border: 2px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.animated-border:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.animated-border:active {
  transform: scale(0.95) rotateZ(1.7deg);
}