@import "tailwindcss";

:root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  font-family: "Lexend", sans-serif;
 
}

body {
    background-color: #1C723F;
  }


#hackerText {
  font-family: "Poppins", sans-serif;
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 10s linear infinite;
  width: max-content;
}




@Media (max-width: 470px) {

  body {
    background-color: #1C723F;
  }

  #About {
    padding: 0px 24px !important;

  }

  #Work {
    padding: 0px 24px !important;

  }

  #ContactMe {
    padding: 0px 24px !important;
    margin-bottom: 24px;
  }

  .BackSVG2 {
    width: 70% !important;
    height: 100px !important;

  }



}


.StarSVG {
  animation: rotate-clockwise 6s linear infinite;
}

@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.animate-float {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
    /* Adjust the distance for the float effect */
  }

  100% {
    transform: translateY(0);
  }
}


